/* src/components/HomePage.css */
.home-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-content,
.right-content {
  text-align: center;
  padding: 0px;
  height: 100vh;
}
.center-content {
  z-index: 999;
}

.social-icons {
  z-index: 9999;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.link-boxes {
  z-index: 9999;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.heroImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contect-part h1.stranger {
  z-index: 9999;
  font-size: 32px;
  color: #fffffe;
  position: relative;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 5px;
  padding: 12px 0 2px 18px;
}

.contect-part span.stran {
  color: #222222;
}

.bg-ytext {
  z-index: 9999;
  background: #00c8da;
  color: white;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.typing-text {
  z-index: 9999;
  overflow: hidden;
  font-weight: bold;
  white-space: nowrap;
  margin: 0;
  letter-spacing: 4px;
  animation: typing 3s steps(20, end);
  color: #ffc455;
  font-size: 70px;
}

.hero-subhead {
  border-left: 4px solid #00c8da;
  padding: 6px;
  font-size: 20px;
  z-index: 999;
}

.mt-20 {
  margin-top: 20px !important;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.social-icon {
  z-index: 9999;
  font-size: 24px;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.fb-color {
  color: #3b5999;
}

.linkedin-color {
  color: #0077b5;
}

.twitter-color {
  color: #1da1f2;
}

.google-color {
  color: #edab2e;
}

.insta-color {
  color: #833ab4;
}

.social-icon:hover {
  color: #007bff;
}

.shape1 {
  width: 40px;
  position: absolute;
  bottom: 200px;
  left: 30px;
  animation: shape1Animation 5s linear infinite;
  z-index: inherit;
}

@keyframes shape1Animation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
.headText {
  z-index: 999;
}
.shape2 {
  width: 30px;
  position: absolute;
  bottom: 80px;
  left: 217px;
  animation: shape2Animation 5s linear infinite alternate; /* Use 'alternate' to reverse the animation on each iteration */
  z-index: inherit;
}

@keyframes shape2Animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.shape3 {
  width: 50px;
  height: 50px; /* Ensure a square shape for a circular effect */
  position: absolute;
  top: 112px;
  left: 630px;
  animation: shape3Animation 5s linear infinite;
  z-index: inherit;
}

@keyframes shape3Animation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}

.shape3-1 {
  width: 81px;
  /* height: 110px; */
  position: absolute;
  top: -47px;
  left: -35px;
  animation: shape31Animation 5s linear infinite;
  z-index: inherit;
}

@keyframes shape31Animation {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  100% {
    transform: translateX(0) rotate(360deg);
  }
}

.shape4 {
  width: 40px;
  position: absolute;
  top: 100px;
  left: 200px;
  animation: shape4Animation 5s linear infinite;
  z-index: inherit;
}

@keyframes shape4Animation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.shape5 {
  width: 160px;
  position: absolute;
  bottom: 0px;
  left: 758px;
  animation: shape5Animation 5s linear infinite;
  z-index: inherit;
}

@keyframes shape5Animation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 767px) {
  .home-container {
    height: 100%;
    padding: 20px;
  }
  .left-content,
  .right-content {
    height: 100%;
  }
  .typing-text {
    font-size: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .typing-text {
    font-size: 40px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .typing-text {
    font-size: 50px;
  }
}

.background-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  animation: rotateAnimation 5s linear infinite;
  color: white !important;
}

@keyframes rotateAnimation {
  0% {
    transform: translate(-50%, -50%) perspective(1000px) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) perspective(1000px) scale(0.8);
  }
  100% {
    transform: translate(-50%, -50%) perspective(1000px) scale(1);
  }
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: bottom;
  z-index: 1;
  color: #ffffff;
  transform: translate(-50%, -50%) perspective(1000px) rotateX(-90deg);
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  font-weight: bold;
  font-size: 16px;
}

@media (max-width: 768px) {
  .home-container {
    padding: 20px;
  }

  .home-box {
    width: 100%;
  }
}
.btn-color {
  background: #dc3545;
  border: #dc3545;
  box-shadow: 10px 10px 5px #dc35454f;
}
.btn-color:hover {
  background: #00c8da;
  border: #00c8da;
  box-shadow: 10px 10px 5px #00c8da4a;
}

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
* {
  padding: 0px;
  margin: 0px;
}

ul {
  position: relative;
  display: flex;
  transform-style: preserve-3d;
}
ul li {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
}
ul li:before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -5px;
  width: 100%;
  height: 10px;
  transform-origin: top;
  transform: skewX(-41deg);
}
ul li:after {
  content: "";
  position: absolute;
  top: 5px;
  left: -9px;
  width: 9px;
  height: 100%;
  transform-origin: right;
  transform: skewY(-49deg);
}
ul li span {
  position: absolute;
  top: 0;
  width: 70%;
  height: 70%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 22px !important;
  transition: 1.5s ease-out;
  box-shadow: -2px 2px 2px 2px;
  border-radius: 20%;
}
ul li:hover {
  margin: 0px 20px;
}
ul li:hover span {
  z-index: 1000;
  transition: 0.3s;
  color: #fff;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);
}
ul li:hover span:nth-child(5) {
  transform: translate(40px, -40px);
  opacity: 1;
}
ul li:hover span:nth-child(4) {
  transform: translate(30px, -30px);
  opacity: 0.8;
}
ul li:hover span:nth-child(3) {
  transform: translate(20px, -20px);
  opacity: 0.6;
}
ul li:hover span:nth-child(2) {
  transform: translate(10px, -10px);
  opacity: 0.4;
}
ul li:hover span:nth-child(1) {
  transform: translate(0px, 0px);
  opacity: 0.2;
}
ul li:nth-child(1):hover span {
  background: #3b5999 !important;
}
ul li:nth-child(2):hover span {
  background: #1da1f2 !important;
}
ul li:nth-child(3):hover span {
  background: #833ab4 !important;
}
ul li:nth-child(4):hover span {
  background: #0077b5 !important;
}
ul li:nth-child(5):hover span {
  background: #edab2e !important;
}
.download-btn {
  padding: 12px 35px;
}

@media (max-width: 992px) {
  .shape-animation {
    display: none;
  }
  .nav-content {
    display: none !important;
  }
}
